.header-index {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: asset_url("oval.png") no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  background-position: center bottom;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px 0;
  color: #fff;
  padding-bottom: 150px;
  p {
    font-weight: 100;
    color: #c4c4c4;
    line-height: 1.44;
    margin-bottom: 12px;
    font-family: "Raleway", sans-serif;
  }
  .text {
    text-align: center;
  }
  .circle {
    background: #1f1f1f;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 584px;
    height: 584px;
    margin: 75px auto 103px;
    text-align: center;
    position: relative;
    img {
      position: absolute;
      top: -webkit-calc(50% - 211px);
      top: -moz-calc(50% - 211px);
      top: calc(50% - 211px);
      left: -webkit-calc(50% - 209px);
      left: -moz-calc(50% - 209px);
      left: calc(50% - 209px);
      display: block;
    }
  }
}
