<section class="color-light form-index">
  <div class="container">
    <div class="row justify-content-center">
      <h2 class="section-title" style="margin-top: 125px;">Остались вопросы?</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form class="main-form">
          <input placeholder="Введите имя" type="text" />
          <input placeholder="E-mail" type="email" />
          <input style="flex: 1 1 100%; max-width: 100%;" placeholder="Введите телефон" type="tel" />
          <textarea class="text-area" name="contact_text" placeholder="Ваш вопрос"></textarea>
          <button class="button" type="submit">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
