<div class="header-products color-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <h4 class="section-title">Инструменты</h4>
        <p>Благодоря пентатоническому звуковому ряду, "слажать" на этом инструменте невозможно.</p>
        <p>Мы, с радостью, поможем попасть на нашу планету и подобрать подходящий для этого инструмент.</p>
      </div>
    </div>
  </div>
</div>

<div class="color-light filter">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <a class="active" href="#">Все</a>
      </div>
      <div class="col-md-3 col-sm-12">
        <a href="#">Группа 1</a>
      </div>
      <div class="col-md-3 col-sm-12">
        <a href="#">Группа 2</a>
      </div>
      <div class="col-md-3 col-sm-12">
        <a href="#">Группа 3</a>
      </div>
    </div>
  </div>
</div>

<%= render partial: "post-products", :locals => {:show_products => @products, :see_all_button => false} %>
