<section class="color-light header-index">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="circle">
          <img src="https://image.ibb.co/gMn9vf/main-drum.png" />
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="section-title">О проекте</h2>
        <div class="text">
          <p>Приветствуем Вас на сайте смарт инструмента tetaDrum.</p>
          <p>наш ИИ обнаружил у Вас высокое желание приобрести наш девайс, нет ничего проще.</p>
          <p>выберите подходящий размер, дизайн и функционал и нажмите кнопку купить!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: "post-products", :locals => {:show_products => @products, :see_all_button => true} %>
<%= render partial: "reviews/post_reviews", :locals => {:show_reviews => @reviews, :see_all_button => true} %>


<section class="color-light form-index">
  <div class="container">
    <div class="row justify-content-center">
      <h2 class="section-title" style="margin-top: 125px;">Остались вопросы?</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form class="main-form">
          <input placeholder="Введите имя" type="text" />
          <input placeholder="E-mail" type="email" />
          <input style="flex: 1 1 100%; max-width: 100%;" placeholder="Введите телефон" type="tel" />
          <textarea class="text-area" name="contact_text" placeholder="Ваш вопрос"></textarea>
          <button class="button" type="submit">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
