<div class="overlay-modal"></div>
<div class="modal">
  <div class="modal-content">
    <button class="modal-close"><i class="fas fa-times"></i></button>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h4 class="section-title white">Оставить отзыв</h4>
        </div>
      </div>

      <section class="form-index" style="background: #202020">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10" style="margin-top: 30px; padding: 0;">
              <form class="main-form">
                <input style="flex: 1 1 100%; max-width: 100%;" placeholder="Ваше имя" type="tel" />
                <textarea class="text-area" name="contact_text" placeholder="Отзыв"></textarea>
                <button class="button" type="submit">Оставить</button>
              </form>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>
