
<div class="header-reviews color-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <h4 class="section-title">Отзывы</h4>
        <p>aaaa aaaaaaaaaaa aaaaaaaaaaaaaa   aaaaaaaaaaaaaa aaaaa</p>
        <p> aaaaaaaaaaaaa aaaaaaaaaaaaa aaaaaaaaaaaaa a.</p>
        <p> aaaaaaaaaaaaa  aaaaaaaaaaaaa.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-4">
        <a>Оставить отзыв</a>
      </div>
    </div>
  </div>
</div>

<%= render partial: "post_reviews", :locals => {:show_reviews => @reviews, :see_all_button => false, :title => false} %>
